pandas
numpy
matplotlib
matplotlib-inline
seaborn
scipy
tabulate
plotly
scikit-learn
xgboost
lightgbm
catboost
mlxtend
imbalanced-learn
optuna
shap
psycopg2-binary
mlflow
tqdm
joblib
ipywidgets
statsmodels
pingouin
category_encoders